<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <title>HoNNeT - who wins on Heroes of Newerth!</title>
  </head>
  <body>
    <!-- <nav class="nav"> -->
    <!--   <div class="nav-left"> -->
    <!--   </div> -->

    <!--   <div class="nav-center"> -->
    <!--     <a class="nav-item"> -->
    <!--       <span class="icon"> -->
    <!--         <i class="fa fa-github"></i> -->
    <!--       </span> -->
    <!--     </a> -->
    <!--     <a class="nav-item"> -->
    <!--       <span class="icon"> -->
    <!--         <i class="fa fa-twitter"></i> -->
    <!--       </span> -->
    <!--     </a> -->
    <!--   </div> -->

    <!--   <1!-- This "nav-toggle" hamburger menu is only visible on mobile --1> -->
    <!--   <1!-- You need JavaScript to toggle the "is-active" class on "nav-menu" --1> -->
    <!--   <span class="nav-toggle"> -->
    <!--     <span></span> -->
    <!--     <span></span> -->
    <!--     <span></span> -->
    <!--   </span> -->

    <!--   <1!-- This "nav-menu" is hidden on mobile --1> -->
    <!--   <1!-- Add the modifier "is-active" to display it on mobile --1> -->
    <!--   <div class="nav-right nav-menu"> -->

    <!--     <span class="nav-item"> -->
    <!--       <a class="button" > -->
    <!--         <span class="icon"> -->
    <!--           <i class="fa fa-twitter"></i> -->
    <!--         </span> -->
    <!--         <span>Tweet</span> -->
    <!--       </a> -->
    <!--       <a class="button is-primary"> -->
    <!--         <span class="icon"> -->
    <!--           <i class="fa fa-download"></i> -->
    <!--         </span> -->
    <!--         <span>Download</span> -->
    <!--       </a> -->
    <!--     </span> -->
    <!--   </div> -->
    <!-- </nav> -->
    <!-- <div id="app"> -->
    <!-- <el-button @click="visible = true">Button</el-button> -->
    <!-- <el-dialog v-model="visible" title="Hello world"> -->
    <!-- <p>Try Element</p> -->
    <!-- </el-dialog> -->
    <!-- </div> -->
    <section class="hero is-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            HoNNeT
          </h1>
          <h2 class="subtitle">
            Predict which team would win and suggest hero picks given heroes of
            both teams (driven by deep learning algorithms)
          </h2>
        </div>
      </div>
    </section>
    <div class="container is-fluid box" id="app">
      <form action="/" method="GET">
        <div class="notification is-primary">Add some heroes then click
          "Update Prediction". (Works best when predicting 5v5
          matches)</div>
        <div class="notification columns" v-if="dirty || (legion.length &&
          hellbourne.length)">
          <div class="column">
            <center>
              <a class="button is-large is-info is-outlined" v-if="dirty"
                                                 @click.prevent="updatePrediction()">Update
                                                 Prediction</a>
              <section class="hero is-info" v-if="legion.length &&
              hellbourne.length && !dirty">
                <div class="hero-body">
                  <div class="container">
                    <h1 class="title">
                      Conclusion
                    </h1>
                  </div>
                </div>
                Who would win? <strong>{{ winner }}</strong><br>
                Chance that {{ loser }} would concede: <strong>{{
                  concede_prob }} %</strong><br>
                The game would end in <strong>{{ lasting_minutes }}</strong> minutes.
              </section>
            </center>
          </div>
        </div>
        <div class="notification">
          <div class="columns">
            <div class="column">
              <p class="notification is-success box">
              Legion
              </p>
              <ul class="box">
                <p class="control">
                <span class="select is-large">
                  <select v-model.number="legionId">
                    <option value="0">Select a Hero</option>
                    {% for key, val in heroes_id_dict.items() %}
                    <option value="{{ val }}">{{ key }}</option>
                    {% endfor %}
                  </select>
                </span>
                <a class="button is-info is-large" :disabled="legionId == 0 ||
                legion.indexOf(legionId) >= 0"
                  @click.prevent="addHero(false)">Add to the team</a>
                </p>
                <template v-if="!dirty">
                  Winning Chance: {{ legion_prob }} %
                  <progress class="progress {{ 'is-primary' if winner ==
                  'Legion' else 'is-warning' }} is-large"
                            value="{{ legion_prob }}"
                            max="100">{{ legion_prob }}</progress>
                </template>
                <li v-for="hero_id of legion">
                  <div class="notification">
                    <button class="delete" @click.prevent="removeHero(hero_id, false)"></button>
                    {% raw %}
                    {{ id_to_name(hero_id) }}
                    {% endraw %}
                  </div>
                </li>
              </ul>
              <p class="notification box is-success" v-if="true">
              Hero Suggestions (which hero you should pick next to maximize
              winning chance/probability)
              </p>
              <div class="columns" v-if="true">
                <div class="column">
                  <table>
                    <tr>
                      <th>Hero Name</th>
                      <th>New Winning Chance</th>
                      <th>New Winning Bar</th>
                      <th>Chance Gain</th>
                    </tr>
                    {% for hero_id, hero_name, prob, gain in optimal_legion %}
                    <tr>
                      <td><a @click="selectHero({{hero_id}}, false)">{{ hero_name }}</a></td>
                      <td>{{ prob }} %</td>
                      <td>
                        <progress class="progress {{ 'is-primary' if prob > 50
                        else 'is-warning' }} is-small" value="{{
                        prob }}" max="100">
                          {{ prob }}
                        </progress>
                      </td>
                      <td>{{ gain  }} %</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            <div class="column is-danger">
              <p class="notification is-danger">
              Hellbourne
              </p>
              <ul class="box">
                <p class="control">
                <span class="select is-large">
                  <select v-model.number="hellbourneId">
                    <option value="0">Select a Hero</option>
                    {% for key, val in heroes_id_dict.items() %}
                    <option value="{{ val }}">{{ key }}</option>
                    {% endfor %}
                  </select>
                </span>
                <a class="button is-info is-large" :disabled="hellbourneId == 0
                || hellbourne.indexOf(hellbourneId) >= 0"
                  @click.prevent="addHero(true)">Add to the team</a>
                </p>
                <template v-if="!dirty">
                  Winning Chance: {{ hellbourne_prob }} %
                  <progress class="progress {{ 'is-primary' if winner ==
                  'Hellbourne' else 'is-warning' }} is-large"
                            value="{{ hellbourne_prob }}"
                            max="100">{{ hellbourne_prob }}</progress>
                </template>
                <li v-for="hero_id of hellbourne">
                  <div class="notification">
                    <button class="delete" @click.prevent="removeHero(hero_id, true)"></button>
                    {% raw %}
                    {{ id_to_name(hero_id) }}
                    {% endraw %}
                  </div>
                </li>
              </ul>
              <p class="notification box is-danger" v-if="true">
              Hero Suggestions (which hero you should pick next to maximize
              winning chance/probability)
              </p>
              <div class="columns" v-if="true">
                <div class="column">
                  <table>
                    <tr>
                      <th>Hero Name</th>
                      <th>New Winning Chance</th>
                      <th>New Winning Bar</th>
                      <th>Chance Gain</th>
                    </tr>
                    {% for hero_id, hero_name, prob, gain in optimal_hellbourne %}
                    <tr>
                      <td><a @click="selectHero({{hero_id}}, true)">{{ hero_name }}</a></td>
                      <td>{{ prob }} %</td>
                      <td>
                        <progress class="progress {{ 'is-primary' if prob > 50
                        else 'is-warning' }} is-small" value="{{
                        prob }}" max="100">
                          {{ prob }}
                        </progress>
                      </td>
                      <td>{{ gain  }} %</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
          <b>Disclaimer</b>: Don't expect excellent prediction. The system is
          fed and learned from only ~90,000 random HoN matches. <br>
          It's also very challenging and difficult to predict the outcome only
          from hero picks information.<br>
          The deep architecture used is a convolutional neural network as shown
          <a href="https://github.com/off99555/HoNNeT-web/blob/master/honnet_brain_architecture.txt">here</a>
          </p>
          <p>
          <strong>HoNNeT</strong> by <a href="https://github.com/off99555">off99555</a>. The source code is licensed
          <a href="https://github.com/off99555/HoNNeT/blob/master/LICENSE">Apache-2.0</a>.                    </p>
          <p>
          <a class="icon" href="https://github.com/off99555/HoNNeT">
            <i class="fa fa-github"></i>
          </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
  const id2name_dict = {
    {% for key, val in heroes_id_dict.items() %}
    {{val}}: '{{key}}',
    {% endfor %}
  }
  const vm = new Vue({
    el: '#app',
    data() {
      return {
        legion: [
        {% for hero_id in legion %}
          {{ hero_id }},
        {% endfor %}
        ],
        hellbourne: [
        {% for hero_id in hellbourne %}
          {{ hero_id }},
        {% endfor %}
        ],
        legionId: 0,
        hellbourneId: 0,
        dirty: false
      }
    },
    methods: {
      id_to_name,
      removeHero: function(id, hell) {
        side = hell ? this.hellbourne : this.legion
        index = side.indexOf(id)
        side.splice(index, 1)
        this.dirty = true
      },
      addHero: function(hell) {
        side = hell ? this.hellbourne : this.legion
        id = hell ? this.hellbourneId : this.legionId
        if (!id)
          return
        side.push(id)
        this.dirty = true
      },
      selectHero: function(id, hell) {
        selectId = hell ? this.hellbourneId : this.legionId
        if (!id || !(id in id2name_dict)) return
        if (hell) {
          this.hellbourneId = id
        } else {
          this.legionId = id
        }
        this.addHero(hell)
      },
      updatePrediction: function() {
        url = '?' + this.GETParams
        loadUrl(url)
      }
    },
    computed: {
      GETParams: function() {
        obj = {'legion': this.legion, 'hellbourne': this.hellbourne}
        return serialize(obj)
      }
    },
    watch: {
      legionId: function() {
        // this.addHero(this.legionId, false)
      },
      hellbourneId: function() {
        // this.addHero(this.hellbourneId, true)
      }
    }
  })
  function id_to_name(id) {
    return id2name_dict[id]
  }
  function serialize(obj) {
    var str = [];
    for(var p in obj)
      if (obj.hasOwnProperty(p)) {
        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
      }
    return str.join("&");
  }
  function loadUrl(newLocation) {
    window.location.href = newLocation;
  }
  </script>
</html>
